.Button {
  background-color: transparent;
  cursor: pointer;
  color: white;

  &[disabled] {
    color: rgb(255, 255, 255, 0.4);
    cursor: not-allowed;
  }

  > svg {
    fill: currentColor;
    display: block;
  }
}
