.Search {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 25px;

  &Inner {
    position: relative;
  }

  &ClearButton {
    border: 0;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    color: var(--color-gray);
    font-size: 0.8rem;
  }

  &Input {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-white);
    outline: 0;

    &:focus {
      border: 2px solid var(--color-primary);
    }
  }
}
